@font-face{
    font-family: 'teste';
     src: url(/ProjetandoSite/fontes/AmazonEmber_Rg.woff);
}

    
*{
    margin: 10px;
    height: 10px;
    background-color: rgb(10, 40, 141);
    color: rgb(255, 230, 0);
    text-decoration: none;
}

nav{
     background-color: rgb(47, 66, 42);
     padding: 15px;
     text-align: center;
     color: rgb(230, 230, 14);
     
     
}

img{
    width: 7%;
    height: auto;
    text-align: center;
    
    

}

.logo{
    text-align: top
}